.fonthead {
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding: 50px 50px 0 50px;
  color: white;
}

.fontsubhead {
  margin-top: 5em;
  margin-bottom: -0.1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding: 0 0 20px 0;
  color: white;
  letter-spacing: 1px;
}

.searchbar{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  padding: 30px 0 0 0;
  color: white;
  border: none;
  background: none;
  text-align: left;
  width: 60%;
  letter-spacing: 1px;
  outline: none;

}

.linkbox{
  margin-top: 1em;
  display: flex;
  justify-content:  space-between;
  flex-wrap: wrap;
}

.leftcol{
  margin: 10px auto;
}

.midcol{
  margin: 10px auto;
}

.rightcol{
  margin: 10px auto;
}

.listformat{
  list-style-type: none;
  margin: 0 auto;;
  padding: 0 auto;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding: 10px 0 0 0;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 50px 0 50px;
    margin-top: 0.2em;
    position: relative;
}

a:hover{
  color: white;
  text-decoration: underline;
}

/* (Temp disable underline)

a.underline
{
    position: relative;
    margin: 0 auto;
}

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.underline:hover:before {
  visibility: visible;
  width: 80%;
}

*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
